@charset "utf-8";
@import "../variables/variables";
@import "../mixins/mixins";
@import "../mixins/table_mixin";
table{
  background-color: $table-bg;
  border-spacing: 0;
  border-collapse: collapse;
}

caption {
  padding-top: $table-cell-padding;
  padding-bottom: $table-cell-padding;
  color: $text-muted;
  text-align: left;
}


// Baseline styles

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: $line-height-computed; //下边距是一倍行高
  // Cells
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        padding: $table-cell-padding;
        line-height: $line-height-base;
        vertical-align: top;
        border-top: 1px solid $table-border-color;
      }
    }
  }
  // Bottom align for column headings
  > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid $table-border-color;
  }
  // Remove top border from thead by default
  > caption + thead,
  > colgroup + thead,
  > thead:first-child {
    > tr:first-child {
      > th,
      > td {
        border-top: 0;
      }
    }
  }
  // Account for multiple tbody instances
  > tbody + tbody {
    border-top: 2px solid $table-border-color;
  }

  // Nesting
  .table {
    background-color: $body-bg;
  }
}

// Condensed table w/ half padding
//对表格单元格设置一个更小的padding
.table-condensed {
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        padding: $table-condensed-cell-padding;
      }
    }
  }
}

// Add borders all around the table and between all the columns.
//表格和表格单元格设置边框，thead的tr元素下边框宽度设为2
.table-bordered {
  border: 1px solid $table-border-color;
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        border: 1px solid $table-border-color;
      }
    }
  }
  > thead > tr {
    > th,
    > td {
      border-bottom-width: 2px;
    }
  }
}
//设置隔行变色
.table-striped {
  > tbody > tr:nth-of-type(odd) { //奇数行
    background-color: $table-bg-accent;
  }
}

//表格行hover变色
.table-hover {
  > tbody > tr:hover {
    background-color: $table-bg-hover;
  }
}

/*这两段不太清楚有什么用*/
table col[class*="col-"] {
  position: static; // Prevent border hiding in Firefox and IE9-11 (see https://github.com/twbs/bootstrap/issues/11623)
  float: none;
  display: table-column;
}
table {
  td,
  th {
    &[class*="col-"] {
      position: static; // Prevent border hiding in Firefox and IE9-11 (see https://github.com/twbs/bootstrap/issues/11623)
      float: none;
      display: table-cell;
    }
  }
}


@include table-row-variant('active', $table-bg-active);
@include table-row-variant('success', $state-success-bg);
@include table-row-variant('info', $state-info-bg);
@include table-row-variant('warning', $state-warning-bg);
@include table-row-variant('danger', $state-danger-bg);



/*响应式表格*/
.table-responsive {
  overflow-x: auto;
  min-height: 0.01%; // Workaround for IE9 bug (see https://github.com/twbs/bootstrap/issues/14837)

  @media screen and (max-width: $screen-xs-max) {
    width: 100%;
    margin-bottom: ($line-height-computed * 0.75);
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid $table-border-color;

    // Tighten up spacing
    > .table {
      margin-bottom: 0;

      // Ensure the content doesn't wrap
      > thead,
      > tbody,
      > tfoot {
        > tr {
          > th,
          > td {
            white-space: nowrap;
          }
        }
      }
    }

    // Special overrides for the bordered tables
    > .table-bordered {
      border: 0;

      // Nuke the appropriate borders so that the parent can handle them
      > thead,
      > tbody,
      > tfoot {
        > tr {
          > th:first-child,
          > td:first-child {
            border-left: 0;
          }
          > th:last-child,
          > td:last-child {
            border-right: 0;
          }
        }
      }

      // Only nuke the last row's bottom-border in `tbody` and `tfoot` since
      // chances are there will be only one `tr` in a `thead` and that would
      // remove the border altogether.
      > tbody,
      > tfoot {
        > tr:last-child {
          > th,
          > td {
            border-bottom: 0;
          }
        }
      }

    }
  }
}


.cui-table .table {
  margin-bottom: 0 !important;
  border-bottom: 1px solid #dddddd;
  border-collapse: collapse !important;
  border-radius: 1px;
}

.cui-table .table:not(.table-condensed),
.cui-table .table:not(.table-condensed) > tbody > tr > th,
.cui-table .table:not(.table-condensed) > tfoot > tr > th,
.cui-table .table:not(.table-condensed) > thead > tr > td,
.cui-table .table:not(.table-condensed) > tbody > tr > td,
.cui-table .table:not(.table-condensed) > tfoot > tr > td {
  padding: 8px;
}

.cui-table .table.table-no-bordered > thead > tr > th,
.cui-table .table.table-no-bordered > tbody > tr > td {
  border-right: 2px solid transparent;
}

.cui-table .table.table-no-bordered > tbody > tr > td:last-child {
  border-right: none;
}

.cui-table-container {
  position: relative;
  clear: both;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}

.cui-table-container.table-no-bordered {
  border: 1px solid transparent;
}

.cui-table-footer,
.cui-table-header {
  overflow: hidden;
}

.cui-table-footer {
  border-top: 1px solid #dddddd;
}

.cui-table-body {
  overflow-x: auto;
  overflow-y: auto;
  height: 100%;
}

.cui-table-container table {
  width: 100%;
}

.cui-table-container thead th {
  height: 0;
  padding: 0;
  margin: 0;
  border-left: 1px solid #dddddd;
}

.cui-table-container thead th:focus {
  outline: 0 solid transparent;
}

.cui-table-container thead th:first-child {
  border-left: none;
  border-top-left-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
}

.cui-table-container thead th .th-inner,
.cui-table-container tbody td .th-inner {
  padding: 8px;
  line-height: 24px;
  vertical-align: top;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.cui-table-container thead th .sortable {
  cursor: pointer;
  background-position: right;
  background-repeat: no-repeat;
  padding-right: 30px;
}

.cui-table-container thead th .both {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAQAAADYWf5HAAAAkElEQVQoz7X QMQ5AQBCF4dWQSJxC5wwax1Cq1e7BAdxD5SL+Tq/QCM1oNiJidwox0355mXnG/DrEtIQ6azioNZQxI0ykPhTQIwhCR+BmBYtlK7kLJYwWCcJA9M4qdrZrd8pPjZWPtOqdRQy320YSV17OatFC4euts6z39GYMKRPCTKY9UnPQ6P+GtMRfGtPnBCiqhAeJPmkqAAAAAElFTkSuQmCC');
}

.cui-table-container thead th .asc {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAYAAAByUDbMAAAAZ0lEQVQ4y2NgGLKgquEuFxBPAGI2ahhWCsS/gDibUoO0gPgxEP8H4ttArEyuQYxAPBdqEAxPBImTY5gjEL9DM+wTENuQahAvEO9DMwiGdwAxOymGJQLxTyD+jgWDxCMZRsEoGAVoAADeemwtPcZI2wAAAABJRU5ErkJggg==');
}

.cui-table-container thead th .desc {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAYAAAByUDbMAAAAZUlEQVQ4y2NgGAWjYBSggaqGu5FA/BOIv2PBIPFEUgxjB+IdQPwfC94HxLykus4GiD+hGfQOiB3J8SojEE9EM2wuSJzcsFMG4ttQgx4DsRalkZENxL+AuJQaMcsGxBOAmGvopk8AVz1sLZgg0bsAAAAASUVORK5CYII= ');
}

.cui-table-container th.detail {
  width: 30px;
}

.cui-table-container tbody td {
  border-left: 1px solid #dddddd;
}

.cui-table-container tbody tr:first-child td {
  border-top: none;
}

.cui-table-container tbody td:first-child {
  border-left: none;
}

/* the same color with .active */
.cui-table-container tbody .selected td {
  background-color: #f5f5f5;
}

.cui-table-container .bs-checkbox {
  text-align: center;
}

.cui-table-container .bs-checkbox .th-inner {
  padding: 8px 0;
}

.cui-table-container input[type="radio"],
.cui-table-container input[type="checkbox"] {
  margin: 0 auto !important;
}

.cui-table-container .no-records-found {
  text-align: center;
}

.cui-table-pagination div.pagination,
.cui-table-pagination .pagination-detail {
  margin-top: 10px;
  margin-bottom: 10px;
}

.cui-table-pagination div.pagination .pagination {
  margin: 0;
}

.cui-table-pagination .pagination a {
  padding: 6px 12px;
  line-height: 1.428571429;
}

.cui-table-pagination .pagination-info {
  line-height: 34px;
  margin-right: 5px;
}

.cui-table-pagination .btn-group {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.cui-table-pagination .dropup .dropdown-menu {
  margin-bottom: 0;
}

.cui-table-pagination .page-list {
  display: inline-block;
}

.cui-table-toolbar .columns-left {
  margin-right: 5px;
}

.cui-table-toolbar .columns-right {
  margin-left: 5px;
}

.cui-table-toolbar .columns label {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
}

.cui-table-toolbar .bs-bars,
.cui-table-toolbar .search,
.cui-table-toolbar .columns {
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 34px;
}

.cui-table-pagination li.disabled a {
  pointer-events: none;
  cursor: default;
}

.cui-table-loading {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  background-color: rgba(0,0,0,.35);
  text-align: center;
  .loadingCnt{
    position: absolute;
    left:50%;
    top:50%;
    margin-left: -55px;
    margin-top: -15px;
    color:#fff;
    font-size: 16px;
    line-height: 30px;
    .icon-loading{
      width: 16px;
      vertical-align: middle;
      margin-right: 5px;
      margin-top: -1px;
      @include animation(mymove 2s linear infinite);
    }
  }
}


.cui-table-body .card-view .title {
  font-weight: bold;
  display: inline-block;
  min-width: 30%;
  text-align: left !important;
  position: relative;
}

/* support bootstrap 2 */
.cui-table-body thead th .th-inner {
  box-sizing: border-box;
}

.table th, .table td {
  vertical-align: middle;
  box-sizing: border-box;
}

.cui-table-toolbar .dropdown-menu {
  text-align: left;
  max-height: 300px;
  overflow: auto;
}

.cui-table-toolbar .btn-group > .btn-group {
  display: inline-block;
  margin-left: -1px !important;
}

.cui-table-toolbar .btn-group > .btn-group > .btn {
  border-radius: 0;
}

.cui-table-toolbar .btn-group > .btn-group:first-child > .btn {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.cui-table-toolbar .btn-group > .btn-group:last-child > .btn {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.cui-table .table > thead > tr > th {
  vertical-align: middle;
  border-bottom: 1px solid #ddd;
}

/* support bootstrap 3 */
.cui-table .table thead > tr > th {
  padding: 0;
  margin: 0;
}

.cui-table .cui-table-footer tbody > tr > td {
  padding: 0 !important;
}

.cui-table .cui-table-footer .table {
  border-bottom: none;
  border-radius: 0;
  padding: 0 !important;
}

.cui-table .pull-right .dropdown-menu {
  right: 0;
  left: auto;
}

/* calculate scrollbar width */
p.cui-table-scroll-inner {
  width: 100%;
  height: 200px;
}

div.cui-table-scroll-outer {
  top: 0;
  left: 0;
  visibility: hidden;
  width: 200px;
  height: 150px;
  overflow: hidden;
}

/* for get correct heights  */
.cui-table-toolbar:after, .cui-table-pagination:after {
  content: "";
  display: block;
  clear: both;
}

@-webkit-keyframes mymove {
  from {-webkit-transform:rotate(0deg);-webkit-transform-origin:50% 50%;  }
  to {-webkit-transform:rotate(360deg);-webkit-transform-origin:50% 50%;}
}
@-moz-keyframes mymove {
  from {-moz-transform:rotate(0deg);-moz-transform-origin:50% 50%;}
  to {-moz-transform:rotate(360deg);-moz-transform-origin:50% 50%;}
}
@keyframes mymove {
  from {transform:rotate(0deg);transform-origin:50% 50%;}
  to {transform:rotate(360deg);transform-origin:50% 50%;}
}

/*
@-webkit-keyframes change {
  from {-webkit-transform:rotate(0deg);-webkit-transform-origin:50% 50%;  }
  to {-webkit-transform:rotate(360deg);-webkit-transform-origin:50% 50%;}
}
@-moz-keyframes change {
  from {-moz-transform:rotate(0deg);-moz-transform-origin:50% 50%;}
  to {-moz-transform:rotate(360deg);-moz-transform-origin:50% 50%;}
}
@keyframes change {
  from {transform:rotate(0deg);transform-origin:50% 50%;}
  to {transform:rotate(360deg);transform-origin:50% 50%;}
}*/
